<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <style>
  html {
      min-height: 100%;
  }
  body {
    background: linear-gradient(#0d3f67 ,#1ee3cf);
  }
  form {
    display: inline-block;
    margin-left: 25%;
    margin-right:25%;
    margin-top:10%;
    padding: 20px;
    width: 50%;
    background-color:#0d3f67;
    border: 2px;
    border-radius: 25px;
    text-align: center;
   }

   h1{
     font-family: monospace;
     font-size: 60px;
     margin-top: 20px;
     color: #fdecff;
   }
   label{
     color: #fdecff;
   }
  </style>
    <title></title>
  </head>
  <body>

      <h1 align="center">Welcome to Impose</h1>
      <div class="box" align="center">
        <form action="{{url_for('style')}}" method='POST' enctype='multipart/form-data'>
          <div class="form-group">
            <label for="File1">Choose a Style Image</label>
            <input class="btn btn-outline-light form-control-file" type="file" name="style_file" file" id="File1">
          </div>
          <div class="form-group">
            <label for="File2">Choose a Content Image</label>
            <input class="btn btn-outline-light form-control-file" type="file" name="content_file" id="File2">
          </div>
          <input type="Submit" class="btn btn-lg btn-warning" value="SUBMIT">
        </form>
      </div>
  </body>
</html>
