<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <style>
  html {
      min-height: 100%;
  }
  body {
    background: linear-gradient(#0d3f67 ,#1ee3cf);
  }
  .box{
    margin-left: 25%;
    margin-right:25%;
    padding: 20px;
    background-color:#0d3f67;
    border: 2px;
    border-radius: 25px;
    text-align: center;
   }

   .con{
     padding: 20px;
     margin:20px;
     display:flex;
   }
   img{
     padding: 10px;
   }
   h1{
     font-family: monospace;
     font-size: 30px;
     margin-top: 20px;
     color: #fdecff;
   }
  </style>
</head>

<body>
  <div class="container" align="center">
    <div class="con" align="center">
        <img class="im" src="{{url_for('static', filename='content_img.jpg')}}" alt="image" height=50% width = 50%>
        <img class="im"src="{{url_for('static', filename='style_img.jpg')}}" alt="image" height=50% width = 50%>
    </div>
    <h1 align="center">Result</h1>
    <div class="box">
      <img src="{{url_for('static', filename='result.jpg')}}" alt="image" height=75% width = 75%>
    </div>
  </div>
</body>
</html>
